

<div class="bg-white p-10 rounded-3xl shadow-md mb-10">
  <p class="text-7xl"><%= @article.title %></p>
  <div class="bg-superLightGreen h-0.5 rounded-full my-9 mr-20"></div>
  <p class="text-xl"><%= @article.body %></p>
  <div class="bg-superLightGreen h-0.5 rounded-full my-9 mr-20"></div>
  
  <div class="flex space-x-6">
    <%= link_to "Edit", edit_article_path(@article), class: "bg-brown py-2 px-4 text-white rounded-2xl hover:bg-lightPink shadow-md"%>
    <%= link_to "Delete", article_path(@article), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    }, class: "bg-brown py-2 px-4 text-white rounded-2xl hover:bg-lightPink shadow-md" %>
    <%= link_to "Back", articles_path, class: "bg-brown py-2 px-4 text-white rounded-2xl hover:bg-lightPink shadow-md" %>
  </div>
</div>

<div class="bg-white p-10 rounded-3xl shadow-md">
  <p class="text-5xl">Comments</p>
  <div class="bg-superLightGreen h-0.5 rounded-full my-9 mr-20"></div>  
    <%= render @article.comments %>
  <h2 class="text-2xl">Add a comment:</h2>
    <%= render 'comments/form' %>
</div>